.rock-salt {
  font-family: 'Rock Salt', cursive;
}

.alcore-logo {
  font-size: 18px !important;
  color: #ff9800 !important;
  font-family: 'Rock Salt', cursive !important;
  text-decoration: none !important;
}

.wrapper-content-header {
  .wrapper {
    background-color: #323232 !important;
  }
}
