## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper-footer wrapper">
  <footer class="primary" role="contentinfo">

    <div class="footer-content-primary">
      <div class="colophon">
        <p>&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} <a data-rel="foundercore.org" href="${marketing_link('ROOT')}" rel="external">${settings.PLATFORM_NAME}</a>.</p>
      </div>

        <nav class="nav-peripheral" aria-label="${_("Policies")}">
          <ol>
            % if is_marketing_link_set('TOS'):
              <li class="nav-item nav-peripheral-tos">
                <a data-rel="foundercore.org" href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
              </li>
            % endif
            % if is_marketing_link_set('PRIVACY'):
              <li class="nav-item nav-peripheral-pp">
                <a data-rel="foundercore.org" href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
              </li>
            % endif
            % if waffle().is_enabled(ENABLE_ACCESSIBILITY_POLICY_PAGE):
              <li class="nav-item nav-peripheral-aar">
                <a data-rel="foundercore.org" href="${reverse('accessibility')}">${_("Accessibility Accommodation Request")}</a>
              </li>
            %endif
            <li class="nav-item">
              <a data-rel="foundercore.org" id="lms-link" href="${settings.LMS_ROOT_URL}">${_("LMS")}</a>
            </li>
          </ol>
        </nav>
    </div>

    <div class="footer-content-secondary" aria-label="${_("Legal")}">
      <div class="footer-about-copyright">
        <p>
          ${Text(_("Alcore Project is a product of {link_start}Foundercore, Inc.{link_end}")).format(
            link_start=HTML(u"<a data-rel='foundercore.org' href='https://www.foundercore.org/'>"),
            link_end=HTML(u"</a>")
          )}
        </p>
      </div>

      <div class="footer-about-openedx">
        <a href="http://foundercore.org" title="${_("Powered by Foundercore")}" class="rock-salt alcore-logo">
          Alcore
        </a>
      </div>
    </div>
  </footer>
</div>

