<%page expression_filter="h" />
<%!
from django.conf import settings
from django.utils.translation import ugettext as _
%>
<%namespace file="sock_links_extra.html" import="get_sock_links_extra" />

<%def name="get_sock_links()">
    <%
        partner_email = settings.PARTNER_SUPPORT_EMAIL
        links = [
            {
                'href': '',
                'sr_mouseover_text': _('Access documentation on'),
                'text': _('Endeavor Careers Documentation'),
                'condition': True
            }, {
                'href': '',
                'sr_mouseover_text': _('Access the Open Endeavor Careers Portal'),
                'text': _('Open Endeavor Careers Portal'),
                'condition': True
            }, {
                'href': '',
                'sr_mouseover_text': _('Enroll in StudioX: Creating a Course with Endeavor Careers Studio'),
                'text': _('Enroll in Endeavor Careers StudioX'),
                'condition': True
            }, {
                'href': 'mailto:{email}'.format(email=partner_email),
                'sr_mouseover_text': _('Send an email to {email}').format(email=partner_email),
                'text': _('Contact Us'),
                'condition': bool(partner_email)
            }
        ]
        links_extra = get_sock_links_extra()
        links += links_extra
        return links
    %>
</%def>
