///////// Footer Section Begins /////////
.hive-footer-wrapper {
  border-top: 5px solid #fe9700;
  position: fixed;
  z-index: 2000;
  color: map-get($alcore-colors, 'text-primary') !important;
  width: 100%;
  bottom: 0;

  .footer-top {
    margin-bottom: 12px;
  }

  .footer-bottom {
    margin-top: 12px;
  }

  footer {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.footer-links {
  .link-items {
    margin-right: 24px;
  }
}

.footer-icons {
  i {
    color: #d5d5d5;
    padding-right: 24px;
  }
}
///////// Footer Section Ends /////////

///////// Miscellaneous /////////
.h-divider {
  border: 1px solid #d5d5d5;
}

.font-bold {
  color: #636363;
  font-weight: 800;
}

a {
  &:not(.btn):hover, &:not(.btn):focus, &:visited:not(.btn):hover, &:visited:not(.btn):focus {
    text-decoration: initial !important;
  }
}

///////// Navbar Starts /////////
.navbar {
  box-shadow: 1px 0 6px 0 rgba(0,0,0,0.4) !important;
  z-index: initial !important;
}

.nav-tabs {
  .nav-link {
    color: map-get($alcore-colors, 'text-primary') !important;

    &.active, &:focus, &:hover {
      font-weight: 800;
      border-color: map-get($theme-colors, 'primary') !important;
    }
  }
}

.nav-action-buttons {
  color: map-get($alcore-colors, 'text-primary');
  min-width: 200px;

  .nav-action-btn {
    .user-profile {
      text-transform: capitalize;
      font-size: 12px;
    }

    .user-image-frame {
      width: 24px;
      height: 24px;
    }
  }
}
///////// Navbar ends /////////

///////// Content Starts /////////
.content-wrapper {
  &.main-container {
    width: 100%;
    margin: 0 auto;
  }
}
///////// Content End /////////

///////// Course Starts /////////
.course {
  max-width: 325px;
  border-right: 8px solid map-get($alcore-colors, 'purple') !important;
  border-bottom: initial !important;
}
///////// Course Ends /////////

.rock-salt {
  font-family: 'Rock Salt', cursive;
}

.alcore-logo {
  font-size: 18px !important;
  color: #ff9800 !important;
  font-family: 'Rock Salt', cursive !important;
  text-decoration: none !important;
}

// ----------------------------
// #HEADER
// TODO #important find the file that loads before lms-main-v1
// ----------------------------
.global-header {
    border-bottom: 1px solid #e1e4e8 !important;
    box-shadow: initial !important;
}

.box-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
}