// Sample red theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first

// Define the primary red color
$trav: #1c9fd0;
$trav-font: #000;
$trav-bg: #f5f5f5 !default;
$trav-hf: #fff;

// Make red the primary color
$primary: $trav-font;
$uxpl-grayscale-x-back: $trav-bg;
$body-bg: $trav-hf !default;
$container-bg: $trav-bg;
$dashboard-profile-header-color: #ffffff !default;
$header-border-color: #e1e4e8;

// Theme fonts
//$font-family-sans-serif: "Soleil"
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$text-color: $trav-font;
$font-family-sans-serif: soleil, sans-serif !default;
$serif: $georgia !default;

// visual horizontal rules
$faded-hr-image-1: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, rgba(200, 200, 200, 1) 50%, rgba(200, 200, 200, 0)) !default;
$faded-hr-image-2: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, rgba(200, 200, 200, 1)) !default;
$faded-hr-image-3: linear-gradient(180deg, rgba(200, 200, 200, 1) 0%, rgba(200, 200, 200, 0)) !default;
$faded-hr-image-4: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 0)) !default;
$faded-hr-image-5: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0)) !default;
$faded-hr-image-6: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)) !default;

// Variable settings for /addons/prefixer.scss
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

//from overrides
$gray-600: #868e96 !default;
$gray-500: #adb5bd !default;

// ----------------------------
// #UNITS
// ----------------------------
$baseline: 20px !default;

// ----------------------------
// #COMPONENT SIZING
// ----------------------------
$header-logo-width: 60px !default;
$header-logo-height: 40px !default;
$header-user-image-size: 40px !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-weight-normal: 400 !default;
$font-weight-base: $font-weight-normal !default;

$bi-app-left            : left;
$bi-app-right           : right;
$bi-app-direction       : ltr;
$bi-app-invert-direction: rtl;

$theme-colors: (
  'primary': #ff9800,
  'secondary': #cddc39
);

$alcore-colors: (
  'text-primary': #a2a2a2,
  'purple': #7C4DFF,
);

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
//@import 'node_modules/bootstrap/scss/bootstrap';

// ----------------------------
// #HEADER
// TODO #important find the file that loads before lms-main-v1
// ----------------------------
.global-header {
    border-bottom: 1px solid #e1e4e8 !important;
    box-shadow: initial !important;
}

.box-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
}

// footer
$footer_margin: ($baseline/4) 0 ($baseline*1.5) 0 !default;

@import "alcore";
