## mako
<%page expression_filter="h"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper-footer hive-footer-wrapper">
  <footer>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
      <div class="col-10 footer-top">
        <div class="container-fluid d-flex">
          <div class="d-flex flex-row col-6 footer-links justify-content-start">
            <div class="link-items font-bold">Alcore Academy</div>
            <div class="link-items">About</div>
            <div class="link-items">Product</div>
            <div class="link-items">Press</div>
            <div class="link-items">Contact</div>
          </div>
          <div class="d-flex flex-row col-6 justify-content-end footer-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>
      <div class="col-10 h-divider"></div>
      <div class="col-10 footer-bottom">
        <div class="container-fluid d-flex">
          <div class="d-flex flex-row col-6 justify-content-start font-bold">
            Copyright @ 2020 Foundercore, Inc. All Rights Reserved.
          </div>
          <div class="d-flex flex-row col-6 justify-content-end footer-links">
            <div class="link-items">Terms of Use</div>
            <div class="link-items">Privacy Policy</div>
            <div class="link-items">Intellectual Property</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
% if include_dependencies:
<%static:js group='base_vendor'/>
<%static:css group='style-vendor'/>
<%include file="widgets/segment-io.html" />
<%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
% for url in footer_css_urls:
<link rel="stylesheet" type="text/css" href="${url}"></link>
% endfor
% endif
